/* #region RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET  */



body {
    font-family: 'Open Sans', sans-serif;
}


/* #region HEADER  */

#main-header {
    z-index: 1;
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 2px 0 #dedede;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.container.navbar a {
    color: inherit;
    text-decoration: none;
}

.navbar .left, .navbar .right {
   display: flex;
   align-items: center;
}


.jumbotron {
    margin-top: 50px;
    width: 100%;
}

.jumbotron-head {
    background: #b4d0e7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sottotitolo {
    display: flex;
    margin-top: 50px;
}

.sottoti-nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sottoti-nav > p, button, div {
    gap: 40px;
}

.sottoti-img {
    width: 80%;
}

.container.navbar {
    font-size: 12px;
}

.container.navbar .left .menu .lista, .right .menu .lista {
    list-style: none;
    display: flex;
}

.left .logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.left .logo img{
    vertical-align: middle;
}

ul.lista > li {
    padding: 0 10px 0 10px;
}

.container.navbar .menu .lista >:hover {
    border-bottom: 1px solid currentColor;
}

.right {
    padding-right: 15px;
}

button.blue {
    color: white;
    background-color: #0061ff;
    border: none;
    padding: 5px 10px;
}

button.blue:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

.contenitore-jumbo-head {
    width: 70vw;
    margin-top: 100px;
}

.contenitore-jumbo-head h1 {
    font-size: 80px;
}

p {
    font-size: 12px;
}

.sottoti-img img {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 30vw;
}

button.blue.corto {
    width: 100%;
    padding: 10px 10px;
}

.fa-solid.fa-arrow-down {
    font-size: 40px;
    margin-bottom: 20px;
}

.freccina {
    margin-top: 30px;
}



/* #endregion HEADER  */



/* #region MAIN  */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mega-container {
    display: flex;
    justify-content: center;
}

main .mega-container .container {
    padding-top: 50px;
}
main .mega-container .container:first-child {
    margin-top: 150px;
    width: 50%; 
}

li.scelta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scelta .sfera.blank {
    background-color: white;
    border: 2px solid lightgrey;
}

main .container h3 {
    font-size: 30px;
}

main .container > ul {
    list-style: none;
    display: flex;
    margin-top: 70px;
    gap: 25px;
    font-size: 12px;
}

.container .sfera {
    width: 15px;
    height: 15px;
    background-color: #0061ff;
    border-radius: 50%;
    display: inline-block;
}

main .container.opzioni {
    display: flex;
    width: 100%;
}

main .container.opzioni .contenitore {
    width: 100%;
    display: flex;
}

main .container.opzioni .contenitore .sezione {
    border: 1px solid lightgrey;
}

main .container.opzioni .contenitore > div {
    width: calc(100% / 3);
}

.contenitore .sezione .titoletto {
    padding: 15px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    gap: 10px;
}

.sezione .contenuto ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
    list-style: none;
    gap: 20px;
}

li.prova {
    display: flex;
    gap: 10px;
}

.sezione .contenuto ul li:nth-child(5){
    height: 40px;
}

.sezione .contenuto ul li:nth-child(6){
    height: 70px;
}

hr {
    width: 20%;
}

.contenitore.largo {
    margin-top: 50px;
    border: 1px solid lightgrey;
}


.fa-solid.fa-check {
    color: #0061ff;
    font-weight: 700;
}

.mini-container {
    display: flex;
}

.mini-container .col-left{
    width: 60%;
}

.col-left > h6, .col-left > h4, .col-left > article{
    padding: 10px;
}

.col-left article {
    padding-top: 30px;
}

.col-right {
    margin: 0 auto;
}

button.blue.corto.ops {
/* position: relative;
top: 15px;
right: -35px; */
/* padding: 10px 55px 10px 55px; */

/* +++++++++ da rivedere ++++++++  */
}

li > div, div > article {
    font-size: 12px;
}

.titoletto div:nth-child(2){
    font-size: 12px;
}

.contenitore.immagine-testo {
    margin-top: 150px;
    display: flex;
}

.col-left.img {
    width: 65%;
}

.col-right.img {
    width: 35%;
}

.col-right.img {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.col-left.img img {
    max-width: 100%;
}

button.chiaro {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

button.chiaro:hover {
    background-color: black;
    color: white;
}


.contenitore.business {
    margin-top: 160px;
}

.sezione.griglia {
    display: flex;
    justify-content: space-between;
}

.contenitore.business .sezione.griglia {
    margin-top: 30px;
}

.sezione.griglia .contain {
    width: calc(100% / 3);
}

.sezione.griglia .contain div img {
    max-width: 100%;
}

.sezione.griglia .contain article {
    margin-top: 15px;
}


.contenitore .sezione h2 {
    margin-top: 190px;
}

a {
    font-size: 12px;
}

.special {
    margin-top: 60px;
    margin-bottom: 140px;
}

.mega-container.finale {
    width: 100%;
    height: 640px;
    background-color: lightpink;
}

.mega-container.finale .contenitore {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0;
}

.mega-container.finale .contenitore > div{
    width: calc(100% / 3);
}


.contenitore .colonna-left .contenitore-sotto, .colonna-right .contenitore-sotto {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0;
}

.colonna-left .contenitore-sotto > div, .colonna-right .contenitore-sotto > div {
    width: calc(100% / 2);
    height: 320px;
}


.sinistra {
    background-color: yellow;
}

.destra {
    background-color: orange;
}

.sinistra img, .destra img {
    max-width: 100%;
}

/* #endregion MAIN  */



/* #region FOOTER  */
footer {
    background-color: black;
    height: 560px;
}
/* #endregion FOOTER  */