/* #region RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET  */


/* #region DEBUG  */
.debug header {
    background-color: red;
    height: 900px;
}

.debug main {
    height: 500px;
}

.debug footer {
    background-color: yellow;
    height: 500px;
}

.debug .navbar {
    background-color: aqua;
    height: 80px;
}


.debug .navbar .left{
    border: 1px dashed black;
}

.debug .navbar .right{
    border: 1px dashed black;
}

.debug .left > div {
    border: 1px dashed yellow;
}

.debug .right > div, button {
    border: 1px dashed yellow;
}

.debug .jumbotron {
    height: 835px;
    background-color: pink;
}

.debug .jumbotron-head {
    height: 735px;
    background: #b4d0e7;
}

.debug .jumbotron-foot {
    height: 98px;
    background: white;
}

.debug .contenitore-jumbo-head {
    width: 80vw;
    height: 650px;
    background-color: yellow;
}

.debug .contenitore-jumbo-head h1 {
    height: 200px;
    background-color: lightgreen;
}

.debug .sottotitolo {
    height: calc(100% - 200px);
    background-color: red;
}

.debug .sottoti-nav {
    width: 40%;
    background-color: lightsalmon;
}

.debug .sottoti-img {
    background-color: blueviolet;
    width: 60%;
    height: 500px;
}

.debug .sottoti-nav > div {
    border: 1px dashed black;
}


/* #endregion DEBUG  */




body {
    font-family: 'Open Sans', sans-serif;
}


/* #region HEADER  */
header {
    
}

.navbar {
    display: flex;
    justify-content: space-between;
}


.navbar .left, .navbar .right {
   display: flex;
   align-items: center;
}

.jumbotron-head {
    background: #b4d0e7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sottotitolo {
    display: flex;
}

.sottoti-nav {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sottoti-img {
    width: 70%;
}

/* #endregion HEADER  */



/* #region MAIN  */
main {
   
}
/* #endregion MAIN  */



/* #region FOOTER  */
footer {

}
/* #endregion FOOTER  */